[submodule "getting_familiar"]
	path = getting_familiar
	url = https://github.com/aclairekeum/getting_familiar
[submodule "robot_localization"]
	path = robot_localization
	url = https://github.com/aelsen/robot_localization
